.content {
    width: 1000px;
    margin: auto;
    background: #004D40;
}
.content:after {
    content: "";
    clear: both;
    display: block;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

p {
    text-align: center;
    font-family: sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: block;
    list-style: none;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    float: left;
    background: #00796B;
    border-radius: 100px;
}

li.alive {
    background: #B2DFDB;
}

li.dying {
    background: #4DB6AC;
}

li.dead {
    background: #009688;
}
